services:
  wb-parser:
    container_name: wb-parser
    env_file:
      - .env
    environment:
      - CHROME_DRIVER_PATH=/usr/bin/chromedriver
      - COOKIES_CACHE_FILE=/tmp/cookies_cache.json
    restart: unless-stopped
    shm_size: 1g
    command: ["python", "main.py"]